:root {
  --bg: #E8E5DA;
  --primary: #648DE5;
  --primary-dark: #304C89;
  --secondary: #CDC392;
  --black: #202020;
  --white: #EEEEEE;
}

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}


main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px;
  border-radius: 10px;
  background: var(--bg);
}

.container{
  width: 100vw;
  height: 100vh;
  background: var(--primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.money{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
  background: var(--secondary);
  padding: 10px;
  margin: 15px;
  text-align: center;
  float: left;
}

form{
  display: flex;
  border-radius: 5px;
  gap: 20px;
}

input {
  width: 280px;
  height: 35px;
}

button{
  background: lightblue;
  color: brown;
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  transition: 0.3s ease-in;
  box-shadow: 5px 4px 2px rgba(12, 60, 61, 0.5);
}

.balance{
  border: 2px solid var(--black);
  border-radius: 10px;
  background: var(--secondary);
  padding: 8px;
}

.taskContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg);
  color: var(--primary-dark);
  gap: 10px;
  height: 8vh;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  transition: box-shadow .3s ease-out;
}

.task:hover{
  box-shadow: 10px 8px 2px rgba(0, 0, 0, 0.5);
}

.task h2{
  display:flex;
  float: left;
  border-radius: 5px;
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;

}

.money.plus{
  color: green;
  background: var(--white);
}

.money.minus{
  color: red;
  background: var(--white);
}

h2.minus{
  background: red;
}

h2.plus{
  background: green;
}

.task>span{
  position: relative;
  top: 0;
  color: red;
  left: 50%;
  cursor: pointer;
}

.task>span:hover{
  border-radius: 5px;
  background: var(--primary);
}

input {
  width: 300px;
  height: 35px;
}
